<div class="main">
  <div class="container">
    <h1>🎵 Song Player 🎵</h1>
    <p>Enter a number between <strong>1</strong> and <strong>5</strong> to play a song.</p>
    <input
      type="number"
      placeholder="Enter a number..."
      (input)="onNumberChange($event)"
      min="1"
      max="5"
    />

    
    <p class="hint" [hidden]="currentSongName !== ''">Guess which song is coming! 🎶</p>

    <!-- current song details -->
    <div [hidden]="currentSongName === ''">
      <p><strong>Currently Playing:</strong> {{ currentSongName }}</p>
    </div>
  </div>
</div>
